body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 180px;
}

.img {
  width: 90%;

  background: skyblue;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.img img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}
